<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script><!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script><!-- axios -->
    <script src="js/scripts.js"></script>
    <script src="js/chat.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link href="css/font.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="header_title">
            ГОЛОСОВАНИЕ | ЖКХ-чат
        </div> 
        <div class="right_side_buttons">
            <button onclick="addVoteRedirect()" title="Создать голосование">+Голосование</button>
            <button onclick='goToAdmin()' title="Настройки">options</button>
        </div>
    </header>
    <div class="main">
        <div class="questions">
            <ul type=none>
              <question-item
                v-for="item in questionList"
                v-bind:question="item"
                v-bind:key="item.id">
                <button class="button_block" >Да</button>
              <button class="button_block">Нет</button>
              <button class="button_block">Воздержусь</button></question-item>
            </ul>
        </div>
        
        <div class="chat">
            <div class="mes_scroll_container" id="scroll_container">
                <div class="chatMessages">
                    <ul id="chatList" type=none>
                        <message-item
                        v-for="item in chatMessages"
                        v-bind:message="item"
                        v-bind:key="item.id">
                        </message-item>
                    </ul>
                </div>
            </div>   
            <form action="" method="POST" class="input_message">
                <textarea name="message" id="message" class="input_text"></textarea>
				<button type="button" class="send_message" onclick=sendMessage()></button>
            </form>
        </div>
    </div>
    <footer>
        <div>
            <p class="footer_text">Made by KWUH</p>
        </div>
    </footer>
</body>
</html>