body{
    margin: 0px;
    padding: 0px;
}

.main{
    margin-top: 20px;
}

.left{
    float: left;
}

.border{
    border: 1px solid black;
}


.threeGrid{
    text-align: center;
    width: 33%;
    height: 33vh;
}

textarea{
    width: 90%;
    height: 60%;
}
#errorArea{
    width: 90%;
}
.errors{
    text-align: center;
    width: 100%;
}